<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>


  <div class="panel panel-default products">

<div class="list-group">
  <%= render @categories %>
  <a href="/admin/categories/new" class="list-group-item list-group-item-action w-50 m-auto active">
    <span>Create a new category </span>
  </a>
</div>

  </div>

</section>
