<div class="jumbotron text-center mt-5">
  <h1>Jungle</h1>
  <p>We specialize in selling exotic plants</p>
  <form class="form-inline w-50 m-auto">
    <div class="input-group">
      <input type="email" class="form-control" size="25" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-primary">Subscribe</button>
      </div>
    </div>
  </form>

	
<div class="container-fluid bg-grey mt-5 w-75">
  <h4 class="mt-4">Home Tropicals & Speciality Shop in vancouver, BC</h4>
  <p class="mt-4">We are a specialty plant shop and offer you a large selection of plants, pots, stands, and baskets made of terracotta and resin ceramic. We’re a one-stop-shop for all things related to plants, right from books to dirt and soil, as well as pesticides, soil enhancers, and fertilizers.</p>
</div>
</div>